.main_img
{
    width:398px;
    height: 300px;;
}
.languages
{
    display: flex;
    text-align: right;
    float: right;
    background-color: gray;
    color:white;
    font-weight: bold;
    list-style-type:square;
    direction: rtl;



}