.main_img
{
   width:100%;
   height:450px;
   z-index: 0;
}
.logo
{
    background-color: black;
    color: white;
    z-index: 1;
    flex
}
/*---------------languages----------------*/
.languages
{
    justify-content: center;
    position: relative;
    
    text-align: right;
    float: right;
    background-color:rgba(197, 191, 191, 0.78);
    color:white;
    font-weight: bold;
    direction: rtl;
    z-index:1;
    margin-top:-450px;
    padding:32px;
    width: 271px;
    height: 311px;
}
.languages ul li {
    list-style-type:square;
}
/*------------address--------------------*/
.address
{
    justify-content: center;
    position: relative;
    text-align: right;
    float: right;
    background-color: rgba(84, 73, 73, 0.53);
    color: white;
    display: rtl;
    z-index: 1;
    margin-top: -139px;
    padding:2px;
    width: 271px;
}
/*-------------yello part-----------*/
.yellow_part
{
    position: relative;
    float: left;
    background-color: rgba(242, 225, 36, 0.76);
    color: white;
    z-index: 1;
    width: 830px;
    margin-top: -167px;
    padding-top: -3px;
    padding-top: 36px;
    padding-bottom: 35px;
    padding-inline: 42px;
}
.learn
{

    position: relative;
    font-size:xx-large;
    font-weight: bold;
    padding:2px;
}
.programing
{
    
    font-size:xx-large;
}